<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Doença</title>
</head>
<body>
    <h1>Cadastro de Doença</h1>
    <form action="cadastrarDoenca" method="POST">
        <label for="nomePopular">Nome Popular:</label>
        <input type="text" id="nomePopular" name="nomePopular" required><br><br>
        
        <label for="nomeCientifico">Nome Científico:</label>
        <input type="text" id="nomeCientifico" name="nomeCientifico" required><br><br>

        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>
