<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Posto de Saúde Web</title>
</head>
<body>
	<h1>Funcionando</h1>
	<form method="POST" action="cadastrarPaciente">
		<label>Nome:</label>
		<input type="text" name="nome"/> <br>
		
		<label>Sobrenome:</label>
		<input type="text" name="sobrenome"/> <br>
		
		<label>Telefone:</label>
		<input type="text" name="telefone"/> <br>
		
		
		<label>Email:</label>
		<input type="text" name="email"/> <br><br>
		
		<label>CPF:</label>
		<input type="text" name="cpf"/> <br><br>

		Endereço:
		<br>

		
		<label>logradouro:</label>
		<input type="text" name="endereco.logradouro"/> <br>
		
		<label>numero:</label>
		<input type="text" name="endereco.numero"/> <br>
		
		<label>cep:</label>
		<input type="text" name="endereco.cep"/> <br>
		
		<label>Bairro:</label>
		<select name="endereco.bairro.id">
			<option value="0">Escolha um bairro</option>
			<option th:each="bairro : ${bairros}" th:value="${bairro.id}" th:text="${bairro.nome}"></option>
		</select>
		<br>
		
		<input type="submit" value="Cadastrar"/>
		
	</form>
</body>
</html>