<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Posto de Saúde Web</title>
</head>
<body>
    <h1>Médicos cadastrados</h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>CRM</th>
            
        </tr>
        <tr th:each="medico : ${medicos}">
			<td th:text="${medico.id}"></td>
			<td th:text="${medico.nome}"></td>
			<td th:text="${medico.sobrenome}"></td>
			<td th:text="${medico.cpf}"></td>
			<td th:text="${medico.telefone}"></td>
			<td th:text="${medico.crm}"></td>
		
		</tr>
		
    </table>

    <div class="bairro-wrapper">
        <form method="GET" action="index">
            <input type="submit" value="voltar">
        </form>
    </div>
</body>
</html>
